body {
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

/* * {
    box-sizing: border-box;
    margin: 0;
} */

.site-header {
    max-width: 1440px;
    background: #fff;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 0px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 80px;
}

.nav-list {
    display: flex;
    padding: 0;
}

.header-nav-list-item {
    list-style: none;
    margin-right: 60px;
}

.header-nav-list-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #1C1C1C;
}

.btn {
    width: 160px;
    height: 40px;
    background: #6F2CFF;
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #6F2CFF;
}



/* Section Pink */

.pink {
    max-width: 1440px;
    margin: 0 auto;
    background: #F6BED9;
    border-radius: 0px;
    padding: 60px 0;
}

.pink-left {
    max-width: 475px;   
}


.title {
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    color: #000000;
}

.title-blue {
    font-weight: 700;
    font-size: 54px;
    line-height: 54px;
    color: #6F2DFF;
    margin-bottom: 20px;
}

.pink-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 20px;
    max-width: 440px;
}

.strong {
    font-weight: 900;
}

.input-email {
    background: #FFFFFF;
    border: 1px solid #6F2CFF;
    border-radius: 28px;
    box-sizing: border-box;
    width: 270px;
    height: 45px;
    padding-left: 25px;
    margin-right: 10px;
}

.input-email::placeholder, .input-email {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.27);
}

.input-email:focus {
    outline: none;
}

.input-email:hover {
    border: 1px solid #6F2CFF;
}

.btn-pink-left {
    width: 190px;
    height: 45px;
}

.pink-right img {
    width: 100%;
    height: auto;
}

/* Section White  */

.white {
    max-width: 1440px;
    margin: 0 auto;
    background: #fff;
    padding: 135px 0;
}

.white-1 {
    margin-bottom: 135px;
}

.title-grow {
    max-width: 415px;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #1C1C1C;
    margin-right: 130px;
}

.block-pict {
    max-width: 335px;
}

.block-pict-content {
    padding: 0 55px;
    margin-top: 35px;
}

.title-block-pict {
    font-weight: 400;
    font-size: 26px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.text-block-pict {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #6F2CFF;
    margin-bottom: 80px;
}

.title-qubit {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    margin: 30px 0 80px;
}

.block-more {
    max-width: 315px;
}

.block-more-img {
    text-align: center;
}

.block-more-title {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin: 40px 0 15px;
}

.block-more-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;

}

/* Footer */

.site-footer {
    max-width: 1440px;
    background: #20003C;
    border-radius: 0px;
    margin: 0 auto;
    padding: 60px 0;
}

.footer-nav-list-item {
    list-style: none;
    margin-right: 75px;
}

.footer-nav-list-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}